<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- Base path variable -->
  <variable name="logDir" value="${basedir}/logs/${date:format=yyyy-MM-dd}/${logger}" />

  <targets>
    <!-- Info Logs -->
    <target xsi:type="File" name="infoFile"
            fileName="${logDir}/info.txt"
            layout="${longdate} | ${uppercase:${level}} | ${message}"
            concurrentWrites="true" keepFileOpen="false" />

    <!-- Warning Logs -->
    <target xsi:type="File" name="warnFile"
            fileName="${logDir}/warning.txt"
            layout="${longdate} | ${uppercase:${level}} | ${message}"
            concurrentWrites="true" keepFileOpen="false" />

    <!-- Error Logs -->
    <target xsi:type="File" name="errorFile"
            fileName="${logDir}/error.txt"
            layout="${longdate} | ${uppercase:${level}} | ${message}"
            concurrentWrites="true" keepFileOpen="false" />

    <!-- Console Logs -->
    <target xsi:type="Console" name="console" />
  </targets>

  <rules>
    <!-- Info logs -->
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="infoFile" />
    <!-- Warning logs -->
    <logger name="*" minlevel="Warn" maxlevel="Warn" writeTo="warnFile" />
    <!-- Error logs -->
    <logger name="*" minlevel="Error" writeTo="errorFile" />
    <!-- Console logs -->
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>

